<!-- <mat-card *ngIf="tarefa" class="card" style="margin: 0 5px;">
  <mat-card-title>{{ tarefa.titulo }}</mat-card-title>
  <mat-card-subtitle>{{ tarefa.dataCriacao | date }}</mat-card-subtitle>
  <mat-card-content  style="overflow: hidden;">
    <p>{{ tarefa.descricao }}</p>
  </mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions style="display:flex;justify-content: space-between;">
    <button mat-flat-button color="primary"><mat-icon>done</mat-icon></button>
    <button mat-flat-button color="accent"><mat-icon>edit</mat-icon></button>
    <button mat-flat-button color="warn"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card> -->

<!-- <div *ngIf="tarefa">
  <input type="checkbox" name="done" id="done">
  {{ tarefa.titulo }}
  <button mat-flat-button color="accent"><mat-icon>edit</mat-icon></button>
  <button mat-flat-button color="warn"><mat-icon>delete</mat-icon></button>
</div> -->

<mat-expansion-panel hideToggle *ngIf="tarefa" style="margin-bottom: 5px;" [ngStyle]="{'backgroundColor': cardColor()}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ tarefa.titulo  }}
    </mat-panel-title>
    <mat-panel-description>
      {{ tarefa.descricao  }}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Data de Criação: {{ tarefa.dataCriacao | date }}</p>
  <p>Concluída: {{ tarefa.concluida ? "Sim" : "Não"  }}</p>
  <div class="button-container">
    <ng-container *ngIf="!tarefa.concluida">
      <button mat-flat-button color="primary" (click)="avisoCheck($event)"><mat-icon>check</mat-icon></button>
      <button mat-flat-button color="primary" (click)="avisoUpdate($event)"><mat-icon>edit</mat-icon></button>
    </ng-container>
    <button mat-flat-button color="warn" (click)="avisoDeletar($event)"><mat-icon>delete</mat-icon></button>
  </div>
</mat-expansion-panel>
